:root{
    --main-color: #802C6E;
    --secondary-color: #282A35;
}
header{
    padding: 15px 25px;
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
}
main{
    padding: 30px;
}
main img{
    width: 60%;
    height: 300px;
}
main h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    background-color: var(--secondary-color);
    color: #fff;
}
footer p{
    line-height: 1.8;
}